doctype html
html
  body(style='margin: 0;font-family: Tahoma;font-size: 1.2em;background-color: #fea73c;')
    header.text-center(style='padding: 1em;background-color: #fea73c;margin-bottom: 1em;text-align: center;')
      .logo(style='max-width: 33.33%;')
        img(src=logo)
    .body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #fea73c;')
      h1(style='font-family: Palatino;font-size: 1.5em;') Hi, #{name} 
      h1(style='font-family: Palatino;font-size: 1.5em;') Your Order ID #{orderId}
      p(style="color: #34495E;")
        | Your order at Michoro Art has been placed, Keep this order ID as it will be use to track delivery of your order.
